
You selected <%=radio%>. </br>
Enter two numbers to perform this function on.

<form method= "post" action="/two_numbers">
<input type="hidden" name="radio" value= <%=radio%>>
<input type = "number" name = "num_1">
<input type = "number" name = "num_2">
<input type  = "submit">
</form>

